<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="img/hmm.jpg" class="img-thumbnail rounded-circle" width="200" alt="">
			<h1 class="display-4">Hammam Ahmad Hanif</h1>
			<p class="lead">Mahasiswa | Backend Dev</p>
		</div>
	</div>
</div>